@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --cor-primaria: #033594;
    --cor-secundaria: #2C59AC;
    --cor-terciaria: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: var(--cor-terciaria);
}

.btn.btn-primary {
    background-color: var(--cor-primaria);
    border: none;
}

.btn.btn-outline-primary:hover {
    background-color: var(--cor-secundaria);
    cursor: pointer;
}

.btn.btn-primary,
.btn.btn-light {
    height: 35px;
}

#copyright {
    text-align: center;
    color: var(--cor-primaria);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
}